@charset "utf-8";

.sidebyside {
	display: flex;
}

.sidebyside img {
	margin-top: 4px;
	margin-right: 8px;
}

.row {
	margin-bottom: 3rem;
}

.col-md-4 h3 {
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}
